body {
  background-color: #ffb366;
}

h1 {
  color: #332200;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px;
}

h2 {
  color: #1a3300;
  margin-left: 20px;
  font-family: "Copperplate", Papyrus, fantasy;
  text-shadow: 2px 2px;
}

h3 {
  color: #001a33;
  margin-left: 20px;
  font-family: "Courier New", monospace;
  text-shadow: 2px 2px;
}

h4 {
  color: #b30077;
  margin-left: 20px;
  font-family: "Brush Script MT", Lucida Handwriting, cursive;
  text-shadow: 2px 2px;
}

#musket {
  padding: 20px
  border: 3px
  background: #fff
  width: 1000px;
  border-style: double;
  border-color: #331a00

}
