body {
  background-color: #fff3e6;
}

h1 {
  color: #cc6600;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px;
}

h2 {
  color: #669900;
  margin-left: 20px;
  font-family: "Copperplate", Papyrus, fantasy;
}

h3 {
  color: #0040ff;
  margin-left: 20px;
  font-family: "Courier New", monospace;
}

h4 {
  color: #ff00aa;
  margin-left: 20px;
  font-family: "Brush Script MT", Lucida Handwriting, cursive;
}

p.double {border-style: double;}

#musket {
  padding: 20px;
  border: 3px;
  background: #fff;
  width: 1000px;
  border-color: #331a00;
}
